xml-com-java/src/formatoVenda.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
    <element name="venda">
        <complexType>
            <sequence>
                <element name="formaDePagamento" type="string" />
            </sequence>
            <attribute name="moeda" type="string"/>
        </complexType>
    </element>
</schema>

	
	
